html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #f5f5f5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

a {
  color: #337ab7;
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

p,
ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 2.4rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 1.2rem;
}

h1, .h1 {
  font-size: 3em;
}

h2, .h2 {
  font-size: 2em;
}

h3, .h3 {
  font-size: 1.75em;
}

h4, .h4 {
  font-size: 1.5em;
}

h5, .h5 {
  font-size: 1.1666666667em;
}

h6, .h6 {
  font-size: 1em;
}

.page-header {
  border-bottom: 1px solid #ddd;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin-left: 0;
  margin-bottom: 1.2rem;
}

hr {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  border: 0;
  border-top: 1px solid #ddd;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code {
  padding: 0.4rem 0.2rem;
  color: #bd4147;
  background-color: #f7f7f9;
}

.header {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .header {
    padding-left: calc(50vw - 280px + 10px);
    padding-right: calc(50vw - 280px + 10px);
  }
}

@media (min-width: 768px) {
  .header {
    padding-left: calc(50vw - 370px + 10px);
    padding-right: calc(50vw - 370px + 10px);
  }
}

@media (min-width: 992px) {
  .header {
    padding-left: calc(50vw - 490px + 10px);
    padding-right: calc(50vw - 490px + 10px);
  }
}

@media (min-width: 1200px) {
  .header {
    padding-left: calc(50vw - 580px + 10px);
    padding-right: calc(50vw - 580px + 10px);
  }
}

.header a {
  text-decoration: none;
}

.header .header__title {
  width: 100%;
  margin: 0;
  font-size: 1.6rem;
  text-align: center;
}

@media (min-width: 768px) {
  .header .header__title {
    width: 50%;
    padding-right: 10px;
    text-align: left;
  }
}

.header .header__nav {
  width: 100%;
  text-align: center;
}

.header .header__nav .header__nav-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.header .header__nav .header__nav-list .header__nav-list-item {
  border-top: 1px solid #f5f5f5;
  margin-top: 10px;
  padding-top: 10px;
}

@media (min-width: 768px) {
  .header .header__nav {
    width: 50%;
    margin-top: 0;
    padding-left: 10px;
    text-align: right;
  }
  .header .header__nav .header__nav-list .header__nav-list-item {
    display: inline-block;
    border-top: none;
    margin-top: 0;
    margin-right: 10px;
    padding-top: 0;
  }
  .header .header__nav .header__nav-list .header__nav-list-item:after {
    content: "/";
    margin-left: 10px;
    color: #ddd;
  }
  .header .header__nav .header__nav-list .header__nav-list-item:last-child {
    margin-right: 0;
  }
  .header .header__nav .header__nav-list .header__nav-list-item:last-child:after {
    content: "";
    margin-left: 0;
  }
}

.main {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

.article-header {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -20px;
  margin-bottom: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

@media (min-width: 576px) {
  .article-header {
    padding-left: calc(50vw - 280px + 10px);
    padding-right: calc(50vw - 280px + 10px);
  }
}

@media (min-width: 768px) {
  .article-header {
    padding-left: calc(50vw - 370px + 10px);
    padding-right: calc(50vw - 370px + 10px);
  }
}

@media (min-width: 992px) {
  .article-header {
    padding-left: calc(50vw - 490px + 10px);
    padding-right: calc(50vw - 490px + 10px);
  }
}

@media (min-width: 1200px) {
  .article-header {
    padding-left: calc(50vw - 580px + 10px);
    padding-right: calc(50vw - 580px + 10px);
  }
}

.article-header .article-header__title {
  margin-left: 10px;
  margin-right: 10px;
  width: calc( 100vw * (12 / 12) - 20px);
  margin: 0;
  font-size: 5.2rem;
  line-height: normal;
}

@media (min-width: 576px) {
  .article-header .article-header__title {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .article-header .article-header__title {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .article-header .article-header__title {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .article-header .article-header__title {
    width: 1140px;
  }
}

.article-header .article-header__subtitle {
  margin-top: -1.2rem;
  color: #777;
  font-style: italic;
}

.main-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .main-content {
    width: 560px;
  }
}

@media (min-width: 768px) {
  .main-content {
    width: 740px;
  }
}

@media (min-width: 992px) {
  .main-content {
    width: 980px;
  }
}

@media (min-width: 1200px) {
  .main-content {
    width: 1160px;
  }
}

.article {
  margin-left: 10px;
  margin-right: 10px;
  width: calc( 100vw * (12 / 12) - 20px);
}

@media (min-width: 576px) {
  .article {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .article {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .article {
    width: 633.333333333px;
  }
}

@media (min-width: 1200px) {
  .article {
    width: 753.333333333px;
  }
}

.footer {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ddd;
  color: #777;
  font-size: 1.4rem;
  text-align: center;
}

@media (min-width: 576px) {
  .footer {
    padding-left: calc(50vw - 280px + 10px);
    padding-right: calc(50vw - 280px + 10px);
  }
}

@media (min-width: 768px) {
  .footer {
    padding-left: calc(50vw - 370px + 10px);
    padding-right: calc(50vw - 370px + 10px);
  }
}

@media (min-width: 992px) {
  .footer {
    padding-left: calc(50vw - 490px + 10px);
    padding-right: calc(50vw - 490px + 10px);
  }
}

@media (min-width: 1200px) {
  .footer {
    padding-left: calc(50vw - 580px + 10px);
    padding-right: calc(50vw - 580px + 10px);
  }
}

@media (min-width: 768px) {
  .footer {
    text-align: left;
  }
}

.footer .footer__links {
  margin-bottom: 10px;
  padding: 0;
  list-style-type: none;
}

.footer .footer__links .footer__links-item {
  display: inline-block;
  margin-right: 10px;
}

.footer .footer__links .footer__links-item:after {
  content: "/";
  margin-left: 10px;
}

.footer .footer__links .footer__links-item:last-child {
  margin-right: 0;
}

.footer .footer__links .footer__links-item:last-child:after {
  content: "";
  margin-left: 0;
}

.footer .footer__links .footer__links-item a {
  text-decoration: none;
}

.footer .footer__links .footer__links-item a:hover, .footer .footer__links .footer__links-item a:focus {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .footer .footer__links {
    float: right;
    width: 50%;
    text-align: right;
  }
}

@media (min-width: 768px) {
  .footer .footer__copyright {
    float: left;
    width: 50%;
  }
}

.alignleft {
  float: left;
  max-width: 75%;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .alignleft {
    margin-left: -193.333333333px;
  }
}

.alignright {
  float: right;
  max-width: 75%;
  margin-left: 20px;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .alignright {
    margin-right: -193.333333333px;
  }
}

.aligncenter {
  clear: both;
  display: block;
  margin: 20px auto;
  text-align: center;
}

.home {
  margin-left: 10px;
  margin-right: 10px;
  width: calc( 100vw * (12 / 12) - 20px);
  text-align: center;
}

@media (min-width: 576px) {
  .home {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .home {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .home {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .home {
    width: 1140px;
  }
}

.home .home-content {
  margin-top: 120px;
  margin-top: 20vh;
  margin-bottom: 120px;
  margin-bottom: 20vh;
  font-size: 1.6rem;
}

.home .home-content span {
  display: block;
  font-size: 2.4rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .home .home-content {
    font-size: 2.4rem;
  }
  .home .home-content span {
    font-size: 4.8rem;
  }
}

.project-list {
  padding-left: 0;
  list-style-type: none;
}

.project-list .project-list__item {
  margin: 0 0 20px;
}

.project-list .project-list__item:nth-child(3n+1) {
  clear: left;
}

.project-list .project-list__item img {
  margin-bottom: 5px;
  border: 1px solid #ddd;
}

.project-image {
  margin: 0 0 40px;
  border: 1px solid #ddd;
  text-align: center;
  max-height: 450px;
  overflow: hidden;
}

.project-info {
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 40px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.project-info .project-info__section {
  -ms-flex: 1;
      flex: 1;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.project-info .project-info__section .project-info__title {
  margin: -10px -10px 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  font-size: 1.6rem;
  line-height: normal;
  text-transform: uppercase;
}

.project-info .project-info__section .project-info__list {
  margin: 0;
}

.profile-picture {
  float: right;
  max-width: 50%;
  margin: 0 0 20px 20px;
}

.profile-picture img {
  border: 1px solid #ddd;
  border-radius: 50%;
}

.pattern-example {
  margin-bottom: 2.4rem;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pattern-example > *:last-child,
.pattern-example > *:last-child > *:last-child,
.pattern-example > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0;
}

.pattern-example-colors {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px 2.4rem;
  padding-left: 0;
  list-style-type: none;
}

.pattern-example-colors .pattern-example-colors__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-top: 20px;
  padding: 0 10px;
}

.pattern-example-colors .pattern-example-colors__item:nth-child(-n+2) {
  margin-top: 0;
}

@media (min-width: 768px) {
  .pattern-example-colors .pattern-example-colors__item {
    -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
  }
  .pattern-example-colors .pattern-example-colors__item:nth-child(-n+3) {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .pattern-example-colors .pattern-example-colors__item {
    -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
  }
  .pattern-example-colors .pattern-example-colors__item:nth-child(-n+3) {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .pattern-example-colors .pattern-example-colors__item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .pattern-example-colors .pattern-example-colors__item:nth-child(-n+4) {
    margin-top: 0;
  }
}

.pattern-example-colors .pattern-example-colors__item-wrapper {
  min-height: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.pattern-example-colors .pattern-example-colors__item-wrapper:before {
  content: "";
  display: block;
  margin: -10px -10px 10px;
  height: 100px;
  border-bottom: 1px solid #ddd;
}

.pattern-example-colors .pattern-example-colors__item--brand-primary .pattern-example-colors__item-wrapper:before {
  background-color: #337ab7;
}

.pattern-example-colors .pattern-example-colors__item--brand-success .pattern-example-colors__item-wrapper:before {
  background-color: #5cb85c;
}

.pattern-example-colors .pattern-example-colors__item--brand-info .pattern-example-colors__item-wrapper:before {
  background-color: #5bc0de;
}

.pattern-example-colors .pattern-example-colors__item--brand-warning .pattern-example-colors__item-wrapper:before {
  background-color: #f0ad4e;
}

.pattern-example-colors .pattern-example-colors__item--brand-danger .pattern-example-colors__item-wrapper:before {
  background-color: #d9534f;
}

.pattern-example-colors .pattern-example-colors__item--gray-darker .pattern-example-colors__item-wrapper:before {
  background-color: #222;
}

.pattern-example-colors .pattern-example-colors__item--gray-dark .pattern-example-colors__item-wrapper:before {
  background-color: #333;
}

.pattern-example-colors .pattern-example-colors__item--gray .pattern-example-colors__item-wrapper:before {
  background-color: #555;
}

.pattern-example-colors .pattern-example-colors__item--gray-light .pattern-example-colors__item-wrapper:before {
  background-color: #777;
}

.pattern-example-colors .pattern-example-colors__item--gray-lighter .pattern-example-colors__item-wrapper:before {
  background-color: #ddd;
}

.pattern-example-colors .pattern-example-colors__item--gray-lightest .pattern-example-colors__item-wrapper:before {
  background-color: #f5f5f5;
}

.pattern-example-colors .pattern-example-colors__value {
  font-weight: bold;
}

.pattern-example-colors .pattern-example-colors__variable {
  color: #777;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1.2rem;
}