---
layout: page
permalink: /work/
main_menu: true

title: Work
---

<h2 class="page-header">Featured Work</h2>
{% for project in site.projects reversed %}
  {% if forloop.first == true %}<ul class="project-list">{% endif %}
    <li class="project-list__item">
      <a href="{{ project.url }}">
        {% assign thumb_src = '' %}
        {% capture project_thumb %}img/projects/{{ project.slug }}/thumb.{% endcapture %}
        {% for img in site.static_files %}
          {% if img.path contains project_thumb %}
            {% assign thumb_src = img.path %}
          {% endif %}
        {% endfor %}
        {% if thumb_src == '' %}
          {% assign thumb_src = '/img/projects/thumb.png' %}
        {% endif %}
        <img src="{{ thumb_src }}" alt="{{ project.title | escape }}"><br>
        {{ project.title | escape }}
      </a>
    </li><!-- .project-list__item -->
  {% if forloop.last == true %}</ul><!-- .project-list -->{% endif %}
{% endfor %}
