<article class="article article--{{ page.layout }}">
  {% if page.title %}
    <header class="article-header">
      <h1 class="article-header__title">{{ page_title | escape }}</h1>
      {% if page.description %}
        <p class="article-header__description">{{ page.description }}</p>
      {% endif %}

      {% comment %}
        https://stackoverflow.com/a/32004173/6997263
      {% endcomment %}
      {% if page.url != '/' %}
        {% assign breadcrumbs = page.url | remove:'/index.html' | split: '/' %}
        <nav class="article-header__breadcrumbs">
          <ol class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="/">Home</a></li>
            {% for breadcrumb in breadcrumbs offset: 1 %}
              {% if forloop.last == false %}
                {% assign breadcrumb_limit = forloop.index | plus: 1 %}
                {% assign breadcrumb_link = '' %}
                {% for breadcrumb in breadcrumbs limit: breadcrumb_limit %}
                  {% assign breadcrumb_link = breadcrumb_link | append: breadcrumb | append: '/' %}
                {% endfor %}
                <li class="breadcrumbs__item"><a href="{{ breadcrumb_link }}">{{ breadcrumb | replace:'-',' ' | remove:'.html' | capitalize }}</a></li>
              {% endif %}
            {% endfor %}
            <li class="breadcrumbs__item">{{ page.title }}</li>
          </ol><!-- .breadcrumbs -->
        </nav><!-- .article-header__breadcrumbs -->
      {% endif %}
    </header><!-- .article-header -->
  {% endif %}

  <div class="article-content">
    {{ content }}
  </div><!-- .article-content -->
</article><!-- .article -->
