{% if paginator.total_pages > 1 %}
  <nav class="pagination">
    <ul class="pagination-list">
      {% if paginator.previous_page %}
        <li class="pagination-list-item">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination-list-item-wrapper">&larr; Previous</a>
        </li>
      {% else %}
        <li class="pagination-list-item disabled">
          <span class="pagination-list-item-wrapper">&larr; Previous</span>
        </li>
      {% endif %}
      {% if paginator.next_page %}
        <li class="pagination-list-item">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="pagination-list-item-wrapper">Next &rarr;</a>
        </li>
      {% else %}
        <li class="pagination-list-item disabled">
          <span class="pagination-list-item-wrapper">Next &rarr;</span>
        </li>
      {% endif %}
    </ul><!-- .pagination-list -->
  </nav><!-- .pagination -->
{% endif %}
