{% if forloop.first %}<div class="project-list">{% endif %}
  <article class="project-list__item">
    <a href="{{ project.url }}">
      {% if project.thumb %}
        {% capture thumb_src %}{{ project.thumb }}{% endcapture %}
      {% else %}
        {% capture thumb_src %}{{ site.path.project_thumb_default }}{% endcapture %}
      {% endif %}
      <img src="{{ thumb_src }}" alt="{{ project.title | escape }}">
      <h4>{{ project.title | escape }}</h4>
    </a>
  </article><!-- .project-list__item -->
{% if forloop.last %}</div><!-- .project-list -->{% endif %}
