//
// Home
// --------------------------------------------------


// Home feature
// -------------------------

.home-feature {}


// Home Feature: Intro
// -------------------------

.home-feature--intro {

  .home-feature__content {
    font-size: 1.6rem;

    span {
      display: block;
      font-size: 2.4rem;
      font-weight: bold;
    }

    @media (min-width: $screen-md) {
      font-size: 2.4rem;

      span {
        font-size: 4.8rem;
      }
    }
  }
}
