//
// Theme: Alignment
// --------------------------------------------------



@function grid-column-size($container, $columns) {
  @return ((($container - ($columns * $grid-gutter-width)) / $columns) + $grid-gutter-width);
}

.test-image {
  width: 300px;
  height: 200px;
  margin: $grid-gutter-width 0;
  background-color: black;
}

.test-image--right,
.test-image--left {

  @media (min-width: $screen-lg) {
    margin-top: 0;
    margin-bottom: $grid-gutter-width;
  }
}

.test-image--right {

  @media (min-width: $screen-lg) {
    float: right;
    margin-right: -(2 * grid-column-size($container-lg, 12));
    margin-left: $grid-gutter-width;
  }

  @media (min-width: $screen-xl) {
    margin-right: -(2 * grid-column-size($container-xl, 12));
  }
}

.test-image--left {

  @media (min-width: $screen-lg) {
    float: left;
    margin-right: $grid-gutter-width;
    margin-left: -(2 * grid-column-size($container-lg, 12));
  }

  @media (min-width: $screen-xl) {
    margin-left: -(2 * grid-column-size($container-xl, 12));
  }
}


.alignleft {
  float: left;
  max-width: 50%;
  margin-right: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;

  @media (min-width: $screen-lg) {
    margin-left: -((1 / $grid-columns) * $container-lg);
  }

  @media (min-width: $screen-xl) {
    margin-left: -((1 / $grid-columns) * $container-xl);
  }
}

.alignright {
  float: right;
  max-width: 50%;
  margin-left: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;

  @media (min-width: $screen-lg) {
    margin-right: -((1 / $grid-columns) * $container-lg);
  }

  @media (min-width: $screen-xl) {
    margin-right: -((1 / $grid-columns) * $container-xl);
  }
}

.aligncenter {
  clear: both;
  display: block;
  margin: $grid-gutter-width auto;
  text-align: center;
}
