//
// Theme / Footer
// --------------------------------------------------


.footer {
  padding: $grid-gutter-width;
  border-top: 1px solid $content-border-color;
  font-size: 1.4rem;

  .footer__copyright {}
}
