//
// Theme: Work
// --------------------------------------------------


// Project list
// -------------------------

.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: $grid-gutter-width;
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  font-size: 1.4rem;
  line-height: normal;

  .project-list__item {
    margin-top: ($grid-gutter-width / 2);
    margin-bottom: ($grid-gutter-width / 2);

    a {
      display: block;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    img {
      margin-bottom: 5px;
      border: 1px solid $gray-lighter;
    }

    br {
      display: none;
    }
  }
}


// Project image
// -------------------------

.project-image {
  margin-bottom: ($grid-gutter-width * 2);
  background-color: white;
  border: 1px solid $gray-lighter-alpha;
  font-size: 0;
  line-height: 1;

  // TODO: Remove temporary max-height
  max-height: 700px;
  overflow: hidden;

  img {
    background-color: $grey-lightest;
  }
}


// Project info
// -------------------------

.project-info {
  margin-bottom: ($grid-gutter-width * 2);

  .project-info__section {
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }

    .project-info__title {
      margin-bottom: 5px;
      font-size: 1.4rem;
      line-height: $line-height-base;
      text-transform: uppercase;
    }

    .project-info__list {
      list-style-type: none;
      margin-bottom: 0;
      padding: 0;

      .project-info__list-item {
        display: inline-block;
        margin-bottom: 5px;
        padding: 2px 10px;
        background-color: $gray-lighter;
        border-radius: 2.1rem;
        font-size: 1.2rem;
        line-height: 1.5;
        white-space: nowrap;
      }
    }
  }
}
