//
// Pagination
// --------------------------------------------------

.pagination {
  margin-top: ($grid-gutter-width * 2);

  .pagination-list {
    display: flex;
    padding: 0;
    list-style-type: none;

    .pagination-list-item {
      margin-left: -1px;

      &:first-child {
        margin-left: 0;
      }

      .pagination-list-item-wrapper {
        display: block;
        padding: 5px 10px;
        border: 1px solid #eee; // TODO: Use a color variable
      }

      a {
        color: inherit;
        text-decoration: none;
      }

      &.disabled {
        color: $grey-lighter;
        cursor: not-allowed;
      }
    }
  }
}
