//
// Project list
// --------------------------------------------------


.project-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: normal;

  @media (min-width: $screen-md) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $grid-gutter-width * 2;
  }

  .project-list__item {
    margin-bottom: ($grid-gutter-width * 2);

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    a {
      display: block;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    img {
      display: block;
      margin-bottom: $grid-gutter-width / 2;
      border: 1px solid $gray-lighter;
    }

    br {
      display: none;
    }
  }
}
