<section class="intro">
  <div class="container">
    <header class="intro-header">
      <h1 class="intro-header__title">Hello, I’m Nate.</h1>
    </header>
    <p class="intro-body">I’m a front-end web developer working at <a href="https://k-state.edu/">Kansas State University</a>.</p>
    <ul class="intro-links">
      <li class="intro-links__item"><a href="https://github.com/natedillon">GitHub</a></li>
      <li class="intro-links__item"><a href="https://linkedin.com/in/natedillon">LinkedIn</a></li>
      <li class="intro-links__item"><a href="https://dribbble.com/natedillon">Dribbble</a></li>
      <li class="intro-links__item"><a href="https://twitter.com/natoriousfat">Twitter</a></li>
    </ul>
  </div><!-- .container -->
</section><!-- .intro -->
