//
// Theme
// --------------------------------------------------


// Header
// -------------------------

.header {
  padding-top: $grid-gutter-width;

  .header__logo {
    margin: 0;
  }

  .header__nav {
    display: block;
    margin: $grid-gutter-width 0 0;

    .header__nav-list {
      display: inline-block;
      margin: 0;
      padding: 0;

      .header__nav-list-item {
        display: inline-block;
        margin: 0 ($grid-gutter-width / 2) 0 -4px;
        padding: 0 ($grid-gutter-width / 2) 0 0;
        border-right: 1px solid $gray-lighter;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
          border-right: none;
        }

        a {}
      }
    }
  }
}


// Footer
// -------------------------

.footer {
  margin-top: $grid-gutter-width;
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  background-color: $gray-lighter;

  .footer__copyright {}
}


// Page header
// -------------------------

.page-header {

  .page-header__title {}

  .page-header__subtitle {
    margin-top: (-$line-height-computed / 2);
    color: $gray-light;
    font-style: italic;
  }
}


// Project
// -------------------------

.project-list {
  padding-left: 0;
  list-style-type: none;

  .project-list__item {
    margin: 0;

    img {
      margin-bottom: 5px;
      border: 1px solid $gray-lighter;
    }
  }
}

.project-image {
  margin: 0 0 $grid-gutter-width;
  text-align: center;

  img {
    border: 1px solid $gray-lighter;
  }

}
