<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  </head>

  <body>
    <header role="banner" class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="header__logo"><a href="{{ site.baseurl }}/">{{ site.title | escape }}</a></h1>
            <nav role="navigation" class="header__nav">
              <ul class="header__nav-list">
                {% for item in site.pages %}
                  {% if item.title and item.main_menu %}
                    <li class="header__nav-list-item{% if page.url == item.url %} active{% endif %}">
                      <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title | escape }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>
          </div><!-- .col-* -->
        </div><!-- .row -->
      </div><!-- .container -->
    </header><!-- .header -->

    <main class="main" aria-label="Content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            {{ content }}
          </div><!-- .col-* -->
        </div><!-- .row -->
      </div><!-- .container -->
    </main><!-- .main -->

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-md-offset-2">
            <p class="footer__copyright">Copyright &copy; {{ 'now' | date: "%Y" }} D. Nathan Dillon</p>
          </div><!-- .col-* -->
          <div class="col-sm-6 col-md-4">
            <ul class="footer__links">
              <li class="footer__links-item"><a href="https://twitter.com/NatoriousFAT">Twitter</a></li>
              <li class="footer__links-item"><a href="https://github.com/natedillon">GitHub</a></li>
            </ul>
          </div><!-- .col-* -->
      </div><!-- .container -->
    </footer><!-- .footer -->
  </body>
</html>
