---
layout: default
---

<article>
  <header class="article-header">
    <div class="container">
      <h1 class="article-header__title">
        {% if page.title_alternate %}
          {{ page.title_alternate | escape }}
        {% else %}
          {{ page.title | escape }}
        {% endif %}
      </h1>
      {% if page.subtitle %}
        <p class="article-header__subtitle">{{ page.subtitle }}</p>
      {% endif %}
    </div><!-- .container -->
  </header><!-- .article-header -->

  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        {{ content }}
      </div><!-- .col-* -->
    </div><!-- .row -->
  </div><!-- .container -->
</article>
