---
layout: default
---

<!--
{% capture img_path %}dist/img/projects/{{ page.slug }}/image.{% endcapture %}
{% if page.image %}
  <div class="project-image">
    <img src="{{ page.image }}" alt="{{ page.title | escape }}">
  </div>
{% endif %}
-->

<aside class="project-info">
  {% if page.services %}
    <section class="project-info__section">
      <h2 class="project-info__title">Services</h2>
      <ul class="project-info__list">
        {% for item in page.services %}
          <li class="project-info__list-item">{{ item }}</li>
        {% endfor %}
      </ul>
    </section><!-- .project-info__section -->
  {% endif %}

  {% if page.tools %}
    <section class="project-info__section">
      <h2 class="project-info__title">Tools</h2>
      <ul class="project-info__list">
        {% for item in page.tools %}
          <li class="project-info__list-item">{{ item }}</li>
        {% endfor %}
      </ul>
    </section><!-- .project-info__section -->
  {% endif %}

  {% if page.links %}
    {% assign page_links = '' %}
    {% for item in page.links %}
      {% if item.active %}
        {% capture page_links %}
          {{ page_links }}
          <li class="project-info__list-item"><a href="{{ item.url }}">{{ item.title }}</a></li>
        {% endcapture %}
      {% endif %}
    {% endfor %}

    {% if page_links != '' %}
      <section class="project-info__section">
        <h2 class="project-info__title">Links</h2>
        <ul class="project-info__list">
          {{ page_links }}
        </ul>
      </section><!-- .project-info__section -->
    {% endif %}
  {% endif %}
</aside><!-- .project-info -->

<div class="project-content">
  {{ content }}
</div><!-- .project-content -->
