//
// Scaffolding
// --------------------------------------------------


html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: $html-bg;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $body-color;
  background-color: $body-bg;
}


// Links
// -------------------------

a {
  color: $link-color;
  text-decoration: underline;

  &:hover,
  &:focus {}
}


// Images
// -------------------------

img {
  max-width: 100%;
  height: auto;

  //padding: 5px;
  //background-color: white;
  //border: 1px solid #eee;
}
