//
// Variables
// --------------------------------------------------


// Colors
// -------------------------

$gray-darker:           #222;
$gray-dark:             #333;
$gray:                  #555;
$gray-light:            #777;
$gray-lighter:          #ddd;
$gray-lightest:         #f5f5f5;

// Cover both spellings
$grey-darker:           $gray-darker;
$grey-dark:             $gray-dark;
$grey:                  $gray;
$grey-light:            $gray-light;
$grey-lighter:          $gray-lighter;
$grey-lightest:         $gray-lightest;

$brand-primary:         #337ab7;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;


// Typography
// -------------------------

$font-size-base: 14px;
$line-height-base: 1.428571429;
$line-height-computed: floor(($font-size-base * $line-height-base));


// Grid
// -------------------------

$grid-gutter-width: 20px;
