//
// Variables
// --------------------------------------------------


// Colors
// -------------------------

$gray-darker:           #222;
$gray-dark:             #333;
$gray:                  #555;
$gray-light:            #777;
$gray-lighter:          #ddd;

// Cover both spellings
$grey-darker:           $gray-darker;
$grey-dark:             $gray-dark;
$grey:                  $gray;
$grey-light:            $gray-light;
$grey-lighter:          $gray-lighter;

$brand-primary:         #337ab7;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;


// Iconography
// -------------------------

$grid-gutter-width: 20px;
