//
// Theme / Article
// --------------------------------------------------


// Article
// -------------------------

.article {}


// Article header
// -------------------------

.article-header {

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: ($grid-gutter-width * 2);
    margin-top: ($grid-gutter-width * 4);
    margin-bottom: ($grid-gutter-width * 4);
  }

  .article-header__title,
  .article-header__description,
  .article-header__description-more,
  .article-header__breadcrumbs {
    grid-column-end: span 3;
  }

  .article-header__title {
    order: 2;
    margin: 0;
    font-size: 7.2rem;
    line-height: 1;
  }

  .article-header__description {
    order: 3;
    margin: ($grid-gutter-width * 2) 0 0;
    font-size: 2.4rem;
  }

  .article-header__description-more {
    order: 4;
    margin: $grid-gutter-width 0 0;
    font-size: 2.4rem;
  }

  .article-header__breadcrumbs {
    order: 1;
    margin-bottom: 5px;
  }
}


// Breadcrumbs
// -------------------------

.breadcrumbs {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;

  .breadcrumbs__item {
    display: inline-block;

    &::after {
      content: " /";
      color: $gray-lighter-alpha;
    }

    &:first-child,
    &:last-child {
      display: none;
    }
  }

  a {
    border: none;
    color: $grey-alpha;
    text-decoration: none;

    &:hover,
    &:focus {}
  }
}


// Article content
// -------------------------

.article-content {
  margin-top: ($grid-gutter-width * 4);
  margin-bottom: ($grid-gutter-width * 4);

  .container {
    display: grid;
    grid-template-areas: "content content content sidebar";
    grid-template-columns: repeat(4, 1fr);
    grid-gap: ($grid-gutter-width * 2);
  }
}


// Default article
// -------------------------

.article--default {

  .article-content {

    .container {
      display: block;
    }
  }
}



// Page article
// -------------------------

.article--page {}

.page-content {
  grid-area: content;
}



// Project index article
// -------------------------

.article--project-index {

  .article-content {

    .container {
      display: block;
    }
  }
}



// Project article
// -------------------------

.article--project {}

.project-info {
  grid-area: sidebar;
  font-size: 1.6rem;

  .project-info__section {}

  .project-info__title {
    font-size: inherit;
  }

  .project-info__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;

    .project-info__list-item {
      display: block;
      margin: 0 5px 5px 0;
      padding: 0 5px;
      background-color: #eee; // TODO
      white-space: nowrap;
    }
  }
}

.project-content {
  grid-area: content;
}


// Conference article
// -------------------------

.article--project-index {}


// Post article
// -------------------------

.article--project-index {}
