html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}


.header {
  display: flex;
  padding: 20px calc( ( 100vw - 1160px ) / 2 );
  background-color: #eee;

  .header__title,
  .header__nav {
    width: calc( #{percentage( 6 / 12 )} - 20px );
    margin-left: 10px;
    margin-right: 10px;
  }

  .header__title {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #ddd;
  }

  .header__nav {
    background-color: #ccc;

    .header__nav-list {
      margin: 0;

      .header__nav-list-item {}
    }
  }
}

.main {

  .article-header {
    display: flex;
    //width: 1160px;
    margin: 0;
    padding: 20px calc( ( 100vw - 1160px ) / 2 );
    background-color: #ddd;
    text-align: center;

    .article-header__title {
      width: calc( #{percentage( 12 / 12 )} - 20px );
      margin: 0 10px;
      background-color: #eee;
    }
  }

  .main-content,
  .main-content-with-sidebar {
    display: flex;
    justify-content: center;
    width: 1160px;
    margin: 20px auto;

    .article,
    .sidebar {
      margin-left: 10px;
      margin-right: 10px;
    }

    .article {
      background-color: #eee;
      width: calc( #{percentage( 9 / 12 )} - 20px );
    }

    .sidebar {
      background-color: #ccc;
      width: calc( #{percentage( 3 / 12 )} - 20px );
    }
  }

  .main-content {

    .article {}
  }

  .main-content-with-sidebar {

    .article {}

    .sidebar {}
  }
}

.footer {
  background-color: #eee;

  .footer__links {
    margin: 0;

    .footer__links-item {}
  }

  .footer__copyright {}
}

.pattern-example--grid-new {
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;

  .grid-new-container {}

  .grid-new-row {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
  }

  .grid-new-col-3,
  .grid-new-col-4,
  .grid-new-col-6,
  .grid-new-col-12 {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #eee;
    border: 1px solid #ddd;
  }

  .grid-new-col-3   { width: percentage( 3 / 12 ); }
  .grid-new-col-4   { width: percentage( 4 / 12 ); }
  .grid-new-col-6   { width: percentage( 6 / 12 ); }
  .grid-new-col-12  { width: percentage( 12 / 12 ); }
}
