//
// Theme
// --------------------------------------------------


// Header
// -------------------------

.header {
  @include make-container--full-width();
  display: flex;
  flex-wrap: wrap;
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  background-color: white;
  border-bottom: 1px solid $grey-lighter;
  text-transform: uppercase;

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .header__title {
    @include make-col($size-xs: 12, $size-md: 6);
    margin-top: 0;
    margin-bottom: 0;
    font-size: $font-size-base;
    text-align: center;

    @media (min-width: $screen-md) {
      text-align: left;
    }
  }

  .header__nav {
    @include make-col($size-xs: 12, $size-md: 6);
    text-align: center;

    .header__nav-list {
      margin-bottom: 0;
      padding-left: 0;
      list-style-type: none;

      .header__nav-list-item {
        border-top: 1px solid $grey-lightest;
        margin-top: ($grid-gutter-width / 2);
        padding-top: ($grid-gutter-width / 2);
      }
    }

    @media (min-width: $screen-md) {
      margin-top: 0;
      text-align: right;

      .header__nav-list {

        .header__nav-list-item {
          display: inline-block;
          border-top: none;
          margin-top: 0;
          margin-right: 10px;
          padding-top: 0;

          &:after {
            content: "/";
            margin-left: 10px;
            color: $gray-lighter;
          }

          &:last-child {
            margin-right: 0;

            &:after {
              content: "";
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}


// Main content
// -------------------------

.main {
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  background-color: white;
}

.article-header {
  @include make-container--full-width();

  margin-top: -($grid-gutter-width);
  margin-bottom: ($grid-gutter-width * 2);
  padding-top: ($grid-gutter-width * 4);
  padding-bottom: ($grid-gutter-width * 4);
  background-repeat: no-repeat;
  background-color: $grey-lightest;
  border-bottom: 1px solid $grey-lighter;
  text-align: center;

  .article-header__title {
    @include make-col($size-xs: 12);

    margin-top: 0;
    margin-bottom: 0;

    @media (min-width: $screen-md) {
      font-size: 7.2rem;
      line-height: normal;
    }
  }

  .article-header__subtitle {
    margin-top: (-$line-height-computed / 2);
    color: $gray-light;
    font-style: italic;
  }
}

.main-content {
  @include make-container();
}

.article {
  @include make-col($size-lg: 8);
}


// Footer
// -------------------------

.footer {
  @include make-container--full-width();
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  border-top: 1px solid $gray-lighter;
  color: $gray-light;
  font-size: 1.4rem;
  text-align: center;

  @media (min-width: $screen-md) {
    text-align: left;
  }

  .footer__links {
    @include make-col($size-xs: 12, $size-md: 6);
    margin-bottom: $grid-gutter-width / 2;
    padding: 0;
    list-style-type: none;

    .footer__links-item {
      display: inline-block;
      margin-right: 10px;

      &:after {
        content: "/";
        margin-left: 10px;
      }

      &:last-child {
        margin-right: 0;

        &:after {
          content: "";
          margin-left: 0;
        }
      }

      a {
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }

    @media (min-width: $screen-md) {
      order: 2;
      margin-bottom: 0;
      text-align: right;
    }
  }

  .footer__copyright {
    @include make-col($size-xs: 12, $size-md: 6);
    margin-top: 0;
    margin-bottom: 0;

    @media (min-width: $screen-md) {
      order: 1;
    }
  }
}


// Alignment
// -------------------------

.alignleft {
  float: left;
  max-width: 50%;
  margin-right: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;

  @media (min-width: $screen-lg) {
    margin-left: -((1 / $grid-columns) * $container-lg);
  }

  @media (min-width: $screen-xl) {
    margin-left: -((1 / $grid-columns) * $container-xl);
  }
}

.alignright {
  float: right;
  max-width: 50%;
  margin-left: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;

  @media (min-width: $screen-lg) {
    margin-right: -((1 / $grid-columns) * $container-lg);
  }

  @media (min-width: $screen-xl) {
    margin-right: -((1 / $grid-columns) * $container-xl);
  }
}

.aligncenter {
  clear: both;
  display: block;
  margin: $grid-gutter-width auto;
  text-align: center;
}


// Home
// -------------------------

.home {
  @include make-col($size-xs: 12);

  text-align: center;

  .home-content {
    margin-top: 120px; margin-top: 20vh;
    margin-bottom: 120px; margin-bottom: 20vh;
    font-size: 1.6rem;

    span {
      display: block;
      font-size: 2.4rem;
      font-weight: bold;
    }

    @media (min-width: $screen-md) {
      font-size: 2.4rem;

      span {
        font-size: 4.8rem;
      }
    }
  }
}


// Project
// -------------------------

.project-list {
  @include make-container--nested-full();
  margin-top: -($grid-gutter-width / 2);
  padding-left: 0;
  list-style-type: none;
  font-size: 1.4rem;
  line-height: normal;
  text-align: center;

  .project-list__item {
    @include make-col($size-xs: 6, $size-md: 4);
    margin-top: ($grid-gutter-width / 2);
    margin-bottom: ($grid-gutter-width / 2);

    a {
      display: block;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    img {
      margin-bottom: 5px;
      border: 1px solid $gray-lighter;
      border-radius: $border-radius;
    }

    br {
      display: none;
    }
  }
}

.project-image {
  margin: 0 0 ($grid-gutter-width * 2);
  line-height: 1;
  text-align: center;

  img {
    border: 1px solid $gray-lighter;
    border-radius: $border-radius;
  }

  @media (min-width: $screen-lg) {
    margin-left: -((1 / $grid-columns) * $container-lg);
    margin-right: -((1 / $grid-columns) * $container-lg);
  }

  @media (min-width: $screen-xl) {
    margin-left: -((1 / $grid-columns) * $container-xl);
    margin-right: -((1 / $grid-columns) * $container-xl);
  }
}

.project-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $grid-gutter-width;
  overflow: hidden;

  @media (min-width: $screen-md) {
    margin: 0 0 ($grid-gutter-width * 2);
    border: 1px solid $gray-lighter;
    border-radius: $border-radius;
  }

  .project-info__section {
    width: 100%;
    margin-bottom: $grid-gutter-width;
    padding: $grid-gutter-width;
    border: 1px solid $gray-lighter;
    border-radius: $border-radius;
    overflow: hidden;

    @media (min-width: $screen-md) {
      width: 50%;
      margin-bottom: 0;
      border: 0;
      border-right: 1px solid $gray-lighter;
      border-radius: 0;

      &:last-child {
        border-right: 0;
      }
    }

    .project-info__title {
      margin: (-$grid-gutter-width) (-$grid-gutter-width) $grid-gutter-width;
      padding: ($grid-gutter-width / 2) $grid-gutter-width;
      background-color: $gray-lightest;
      border-bottom: 1px solid $gray-lighter;
      font-size: $font-size-base;
      line-height: normal;
      text-transform: uppercase;
    }

    .project-info__list {
      margin: 0;
      padding: 0;
      list-style-type: none;

      .project-info__list-item {}
    }
  }
}


// About
// -------------------------

.profile-picture {
  float: right;
  max-width: 50%;
  margin: 0 0 $grid-gutter-width $grid-gutter-width;

  img {
    border: 1px solid $gray-lighter;
    border-radius: 50%;
  }
}
