//
// Typography
// --------------------------------------------------


// Typographic Scale
// -------------------------
//
// Taken from A Practical Guide to Designing for the Web by Mark Boulton.
//
// 6pt:  nonpareil
// 7pt:  minion
// 8pt:  brevier or small text
// 9pt:  bourgeois or galliard
// 10pt: long primer or garamond
// 11pt: small pica or philosophy
// 12pt: pica
// 14pt: english or augustin
// 18pt: great primer
// 21pt: double small pica or double pica
// 24pt: double pica or two–line pica
// 36pt: double great primer or 2-line great primer


// Default margins
// -------------------------

p,
ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: $line-height-computed;
}


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: ($line-height-computed / 2);
}

// Sizing based on the typographic scale
h1, .h1 { font-size: (36 / 12) * 1em; }
h2, .h2 { font-size: (24 / 12) * 1em; }
h3, .h3 { font-size: (21 / 12) * 1em; }
h4, .h4 { font-size: (18 / 12) * 1em; }
h5, .h5 { font-size: (14 / 12) * 1em; }
h6, .h6 { font-size: (12 / 12) * 1em; }


// Page header
// -------------------------

.page-header {
  margin-bottom: ($grid-gutter-width * 2);
  //border-bottom: 1px solid $grey-lighter;
  color: $grey-dark;
  text-align: center;

  @media (min-width: $screen-md) {
    font-size: 4.8rem;
    line-height: normal;
  }
}


// Lists
// -------------------------

ul,
ol {

  ul,
  ol {
    margin-bottom: 0;
  }
}

ul {
  //list-style-type: none;
  //padding-left: 0.9em;

  li {
    //position: relative;

    &:before {
      //content: "\2022";
      //position: absolute;
      //top: 0;
      //right: 100%;
      //margin-right: 5px;
      //margin-right: 0.5rem;
    }
  }
}

dl {

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 0;
    margin-bottom: ($line-height-computed / 2);
  }
}


// Horizontal rules
// -------------------------

hr {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
  border: 0;
  border-top: 1px solid $gray-lighter;
}


// Code
// -------------------------

code,
kbd,
pre,
samp {
  font-family: $font-family-monospace;
}

code {
  padding: 0.4rem 0.2rem;
  color: #bd4147;
  background-color: #f7f7f9;
}
