//
// Functions
// --------------------------------------------------


//
// Match a container width to a specified number of grid columns
// --------------------------------------------------

@function container-to-grid-width($container-size, $column-span: 1, $total-columns: $grid-columns, $gutter-width: $grid-gutter-width) {

  // Subtract the grid gutter width used for container padding from container size
  $container-size: $container-size - $grid-gutter-width;

  // Calculate the size of a single column
  $single-column-width: ($container-size - (($total-columns - 1) * $gutter-width)) / $total-columns;

  // Add the total width of all the columns, gutters, and grid gutter width needed for container padding
  $container-to-grid-width: ($column-span * $single-column-width) + ($gutter-width * ($column-span - 1)) + $grid-gutter-width;

  @return $container-to-grid-width;
}
