---
layout: page

title: Work
---

{% assign projects = site.pages | where:"layout","project" | sort:"date" %}
{% assign featured_projects = projects | where:"featured",true %}
{% assign projects_by_year = projects | group_by:"date" %}

<h2>Featured Projects</h2>
{% for project in featured_projects reversed %}
  {% if forloop.first %}
    <ul class="project-list">
  {% endif %}

  <li class="project-list__item">
    <a href="{{ project.url }}">
      {% if project.thumb %}
        {% capture thumb_src %}{{project.url}}{{ project.thumb }}{% endcapture %}
      {% else %}
        {% capture thumb_src %}{{ site.path.project_thumb_default }}{% endcapture %}
      {% endif %}
      <img src="{{ thumb_src }}" alt="{{ project.title | escape }}"><br>
      {{ project.title | escape }}
    </a>
  </li><!-- .project-list__item -->

  {% if forloop.last %}
    </ul><!-- .project-list -->
  {% endif %}
{% endfor %}

<h2>Projects by Year</h2>
{% for group in projects_by_year reversed %}
  <h3>
    {% if group.name != '' %}
      {{ group.name | date:"%Y" }}
    {% else %}
      Additional Projects
    {% endif %}
  </h3>

  {% for item in group.items %}
    {% if forloop.first %}
      <ul>
    {% endif %}

    <li>
      <a href="{{ item.url }}">
        {{ item.title }}
      </a>
    </li>

    {% if forloop.last %}
      </ul>
    {% endif %}
  {% endfor %}
{% endfor %}
