---
layout: page
title: Work
---

{% for project in site.projects %}
  {% if forloop.first == true %}<ul class="row project-list">{% endif %}
    <li class="col-sm-4 project-list__item">
      <a href="{{ project.url | prepend: site.baseurl }}">
        {% capture img_path %}img/projects/{{ project.slug }}/thumb.{% endcapture %}
        {% for img in site.static_files %}
          {% if img.path contains img_path %}
            <img src="{{ img.path }}" alt="{{ project.title | escape }}"><br>
            {{ project.title | escape }}
          {% endif %}
        {% endfor %}
      </a>
    </li><!-- .project-list__item -->
  {% if forloop.last == true %}</ul><!-- .project-list -->{% endif %}
{% endfor %}
