---
layout: default
---

<article class="article">
  <h2>Information</h2>
  <dl>
    <dt>Location:</dt>
    <dd>{{ page.location }}</dd>
    <dt>Start date:</dt>
    <dd>{{ page.date_start | date: "%B %-d, %Y" }}</dd>
    <dt>End date:</dt>
    <dd>{{ page.date_end | date: "%B %-d, %Y" }}</dd>
  </dl>

  {{ content }}

  {% if page.sessions and page.sessions[0].title != nil %}
    <h2>Sessions</h2>
    <dl>
      {% for session in page.sessions %}
        <dt>{{ session.title }}</dt>
        {% for speaker in session.speaker %}
          <dd>{{ speaker.name }}{% if speaker.title != nil %}, {{ speaker.title }}{% endif %}</dd>
        {% endfor %}
      {% endfor %}
    </dl>
  {% endif %}
</article><!-- .article -->
