<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% capture page_title %}{{ page.title }}{% endcapture %}
    <title>{{ site.title | escape }}{% if page.title and page.url != '/index.html' and page.url != '/' %} / {{ page_title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <link rel="stylesheet" href="{{ site.baseurl }}/dist/css/dnathandillon.css">
  </head>

  <body{% if page.body_class %} class="{{ page.body_class }}"{% endif %}>
    {% include header.html %}

    <main role="main" class="main">
      <div class="container">
        <article class="article">
          {% if page.title %}
            <header class="article-header">
              <h1 class="article-header__title">{{ page_title | escape }}</h1>
              {% if page.subtitle %}
                <p class="article-header__subtitle">{{ page.subtitle }}</p>
              {% endif %}

              {% comment %}
                https://stackoverflow.com/a/32004173/6997263
              {% endcomment %}
              {% if page.url != '/' %}
                {% assign breadcrumbs = page.url | remove:'/index.html' | split: '/' %}
                <nav class="article-header__breadcrumbs">
                  <ol class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="/">Home</a></li>
                    {% for breadcrumb in breadcrumbs offset: 1 %}
                      {% if forloop.last == false %}
                        {% assign breadcrumb_limit = forloop.index | plus: 1 %}
                        {% assign breadcrumb_link = '' %}
                        {% for breadcrumb in breadcrumbs limit: breadcrumb_limit %}
                          {% assign breadcrumb_link = breadcrumb_link | append: breadcrumb | append: '/' %}
                        {% endfor %}
                        <li class="breadcrumbs__item"><a href="{{ breadcrumb_link }}">{{ breadcrumb | replace:'-',' ' | remove:'.html' | capitalize }}</a></li>
                      {% endif %}
                    {% endfor %}
                    <li class="breadcrumbs__item">{{ page.title }}</li>
                  </ol><!-- .breadcrumbs -->
                </nav><!-- .article-header__breadcrumbs -->
              {% endif %}
            </header><!-- .article-header -->
          {% endif %}

          <div class="article-content">
            {{ content }}
          </div><!-- .article-content -->
        </article><!-- .article -->
      </div><!-- .container -->
    </main><!-- .main -->

    {% include footer.html %}

    {% include analytics.html %}
  </body>
</html>
