<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% capture page_title %}{{ page.title }}{% endcapture %}
    <title>{{ site.title | escape }}{% if page.title %} / {{ page_title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <link rel="stylesheet" href="{{ site.baseurl }}/dist/css/main.css">
  </head>

  <body{% if page.body_class %} class="{{ page.body_class }}"{% endif %}>
    <header role="banner" class="header">
      <div class="container">
        <h1 class="header__logo">
          <a href="{{ site.baseurl }}/">{{ site.title | escape }}</a>
        </h1>

        <nav role="navigation" class="header__nav">
          <ul class="header__nav-list">
            {% for item in site.data.navigation.primary %}
              <li class="header__nav-list-item{% if page.url == item.url %} active{% endif %}">
                <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title | escape }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div><!-- .container -->
    </header><!-- .header -->

    <main role="main" class="main">
      {% if page.url != '/' %}<article class="article">{% endif %}
        {% if page.url == '/' %}
          {% include intro.html %}
        {% elsif page.title %}
          <header class="article-header">
            <div class="container">
              <h1 class="article-header__title">
                {{ page_title | escape }}
              </h1>
              {% if page.subtitle %}
                <p class="article-header__subtitle">{{ page.subtitle }}</p>
              {% endif %}
            </div><!-- .container -->
          </header><!-- .article-header -->
        {% endif %}

        <div class="article-content">
          <div class="container">
            {{ content }}
          </div><!-- .container -->
        </div><!-- .article-content -->
      {% if page.url != '/' %}</article><!-- .article -->{% endif %}
    </main><!-- .main -->

    <footer class="footer">
      <div class="container">
        <p class="footer__copyright">Copyright &copy; {{ 'now' | date: "%Y" }} D. Nathan Dillon</p>
      </div><!-- .container -->
    </footer><!-- .footer -->

    {% include analytics.html %}
  </body>
</html>
