<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body{% if page.body_class %} class="{{ page.body_class }}"{% endif %}>
    {% include header.html %}

    <main role="main" class="main">
      {% if page.title %}
        <header class="article-header">
          <h1 class="article-header__title">
            {% if page.title_alternate %}
              {{ page.title_alternate | escape }}
            {% else %}
              {{ page.title | escape }}
            {% endif %}
          </h1>
          {% if page.subtitle %}
            <p class="article-header__subtitle">{{ page.subtitle }}</p>
          {% endif %}
        </header><!-- .article-header -->
      {% endif %}

      <div class="main-content">
        {{ content }}
      </div><!-- .main-content -->
    </main><!-- .main -->

    {% include footer.html %}

    {% include analytics.html %}
  </body>
</html>
