---
layout: default
---

<article class="article">
  <header class="article-header">
    <h1 class="article-header__title">
      {% if page.title_alternate %}
        {{ page.title_alternate | escape }}
      {% else %}
        {{ page.title | escape }}
      {% endif %}
    </h1>
    {% if page.subtitle %}
      <p class="article-header__subtitle">{{ page.subtitle }}</p>
    {% endif %}
  </header><!-- .article-header -->

  <div class="article-content">
    {{ content }}
  </div><!-- .article-content -->
</article><!-- .article -->
