---
layout: default
---
<article>
  <header class="page-header">
    <h1 class="page-header__title">
      {% if page.title_alternate %}
        {{ page.title_alternate | escape }}
      {% else %}
        {{ page.title | escape }}
      {% endif %}
    </h1>
    {% if page.subtitle %}
      <p class="page-header__subtitle">{{ page.subtitle }}</p>
    {% endif %}
  </header><!-- .page-header -->

  <div class="row">
    <div class="col-sm-4">
      {{ content }}

      {% if page.responsibilities %}
        <h2>Responsibilities</h2>
        <ul>
          {% for item in page.responsibilities %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if page.technology %}
        <h2>Technology</h2>
        <ul>
          {% for item in page.technology %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if page.links %}
        {% assign page_links = '' %}
        {% for item in page.links %}
          {% if item.hidden != true %}
            {% capture page_links %}
              {{ page_links }}
              <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endcapture %}
          {% endif %}
        {% endfor %}
        {% if page_links != '' %}
          <h2>Links</h2>
          <ul>
            {{ page_links }}
          </ul>
        {% endif %}
      {% endif %}
    </div><!-- .col-* -->

    <div class="col-sm-8">
      {% capture img_path %}img/projects/{{ page.slug }}/image.{% endcapture %}
      {% for img in site.static_files %}
        {% if img.path contains img_path %}
          <div class="project-image">
            <img src="{{ img.path }}" alt="{{ page.title | escape }}">
          </div>
        {% endif %}
      {% endfor %}
    </div><!-- .col-* -->
  </div><!-- .row -->
</article>
