---
pagination:
  enabled: true
  collection: conferences

title: Conferences
---

{% assign sorted_conferences = site.conferences | sort:'date' | reverse %}
<ul>
  {% for conference in paginator.posts %}
    <li><a href="{{ conference.url }}">{{ conference.title }}</a></li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
  <ul>
    {% if paginator.previous_page %}
      <li>
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
      </li>
    {% endif %}
    {% if paginator.next_page %}
      <li>
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
      </li>
    {% endif %}
  </ul>
{% endif %}
